extends ../layouts/application.pug

block header
  = t('layouts.application.users')

block content
  .table-responsive
    table.table.table-borderless.table-striped.mt-5.bg-white
      thead
        tr
          th= t('views.users.id')
          th= t('views.users.fullName')
          th= t('views.users.email')
          th= t('views.users.createdAt')
          th= t('views.users.actions')
      tbody
        each user in users
          tr
            td= user.id
            td= `${user.firstName} ${user.lastName}`
            td= user.email
            td= formatDate(user.createdAt)
            td
              .d-flex.flex-wrap
                a.btn.btn-primary.me-1(href=route('editUser', { id: user.id }))= t('views.users.edit')
                +buttonTo(route('deleteUser', { id: user.id }), 'delete')(class="btn btn-danger" value=t('views.users.delete'))